@import url('fonts/Roboto/css.css');

body{
    background-color: #ffffff;
}

.card-container{
    width: 250px;
    height: 345px;
    position: static;
    display:inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.car-container{
    position: absolute;
    width: 250px;
    height: 345px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    transition: transform .2s;
    /*z-index: 1;*/
}

.card-container-info{
    position: absolute;
    width: 250px;
    height: 345px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

    transition: transform .2s;
    transform: rotateY(90deg);
    /*z-index: 0;*/
}

.car-photo {
    position: absolute;
    width: 100%;
}

.car-image {
    position: inherit;
    width: 100%;
    z-index: 1;
}

.car-logo {
    position: inherit;
    top: 5px;
    right: 120px;
    width: 50%;
    opacity: .3;
    z-index: 0;
}

.button-info{
    width: 40px;
    height: 40px;

    border: solid 0 #777777;
    color: #000000;

    position: relative;
    float: right;


    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;

    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    /*border-radius: 20px;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/

    cursor:pointer;
    z-index: 100;

    background-color: #fedb31;
    background-image: url('img/info.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

.button-info:hover {
    box-shadow: -4px 4px 8px rgba(0,0,0,0.16);
}

.description-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;

    margin-top: 180px;
    margin-left: 20px;
    margin-right: 20px;
}

.car-name{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.car-description{
    font-weight: 500;
    margin-bottom: -14px;

}
.car-description-thin{
    font-weight: 300;
    margin-top: -10px;
}


.button-buy{
    width: 250px;
    height: 50px;

    font-size: 20px;
    text-align: center;
    padding: 8px 10px;
    border: solid 0 #777777;
    color: #000000;
    background: #fedb31 !important;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/

    z-index: 99;

}

.button-buy:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.top-panel {
    width: 100%;
    height: 72px;
    background: #ffffff;

    border-bottom:  solid 1px #eeeeee;

    position: fixed;
    top: 0;
    left: 0;
}

.date-panel{
    height: 30px;

    width: 20%;
    min-width: 200px;
    max-width: 300px;

    border-radius: 7px;
    background: #e0e0e0;


    text-align:center;
    /*display: flex;*/
    align-items: center;

    display:inline-block;
    position: absolute;
    bottom: 10px;
    margin-left: 20px;

}

.date-text{
    margin: 0 auto;
    vertical-align:middle;
    font-family: 'Roboto', sans-serif;
}
.bank-logo-container{
    margin-left: 20px;
    margin-top: 2px;

    display:inline-block;

}

.bank-logo{
    /*width: 150px;*/
    height: 65px;
}